@implements IDisposable

@inject IImageApiService ImageApiService
@inject IPersonService PersonApiService
@inject MemoryService MemoryService

<div class="@(peoplePagedServiceResult == null && imagesPagedServiceResult == null ? "select-closed" : "select-open")">

    <EditForm EditContext="artistEditContext" OnValidSubmit="() => OnValidSubmit.InvokeAsync(ArtistFormModel)">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <ValidationSummary></ValidationSummary>

        <div>
            <div>
                <label for="alias">Alias</label>

                <InputText @bind-Value="ArtistFormModel.Alias" id="alias" />
            </div>

            <PersonDataResultInput DataResult="ArtistFormModel.PersonResult"
                                   Context="PersonResult"
                                   OnDataRequest="() =>  FetchPeople(MemoryService.GetDefaultPaginationRequest(), new PersonFilterRequest {})"
                                   OnRemoveRequest="() => {ArtistFormModel.PersonId = null; ArtistFormModel.PersonResult = null; MemoryService.HasUnsavedData = true; }"
                                   @bind-Value="ArtistFormModel.PersonId">
                <Info>
                    <p>@PersonResult.Firstname @PersonResult.Lastname</p>
                </Info>
            </PersonDataResultInput>

            <ImageDataResultInput DataResult="ArtistFormModel.ImageResult"
                                  Context="ImageResult"
                                  OnDataRequest="() => FetchImages(MemoryService.GetDefaultPaginationRequest(), new ImageFilterRequest {})"
                                  OnRemoveRequest="() => { ArtistFormModel.ImageId = null; ArtistFormModel.ImageResult = null; MemoryService.HasUnsavedData = true; }"
                                  @bind-Value="ArtistFormModel.ImageId">
                <Info>
                    <p>@ImageResult.Alt</p>

                    <img src="@($"https://localhost:7061/image/download/{ImageResult.Id}")" />
                </Info>
            </ImageDataResultInput>
        </div>

        <div>
            @Buttons
        </div>
    </EditForm>

    @if (peoplePagedServiceResult is not null)
    {
        <section>
            <button @onclick="() => peoplePagedServiceResult = null" class="warning">&#128939;</button>

            <h3>Select person</h3>

            <div>
                <PersonFilterForm EditContext="personFilterContext"
                                  OnReset="() => FetchPeople(MemoryService.GetDefaultPaginationRequest(), new PersonFilterRequest())"
                                  OnValidSubmit="() => FetchPeople(MemoryService.GetDefaultPaginationRequest(), ((PersonFilterFormModel?)personFilterContext?.Model)?.ToRequest() ?? new PersonFilterRequest())" />


                <PagedList OnPageChanged="(model) => FetchPeople(new PaginationRequest { Page = model.Page, PageSize = model.PageSize }, peoplePagedServiceResult.Filter?.ToRequest() ?? new PersonFilterRequest {})"
                           PagedServiceResult="peoplePagedServiceResult" Context="PersonResult">

                    <ItemTemplate>
                        <SelectPersonItem Model="PersonResult"
                                          OnSelected="(selectedPerson) => SelectPerson(selectedPerson)" />
                    </ItemTemplate>
                </PagedList>
            </div>
        </section>
    }

    @if (imagesPagedServiceResult is not null)
    {
        <section>
            <h3>Select image</h3>

            <div>
                <button @onclick="() => imagesPagedServiceResult = null" class="warning">Close</button>

                <PagedList OnPageChanged="(model) => FetchImages(new PaginationRequest { Page = model.Page, PageSize = model.PageSize }, imagesPagedServiceResult.Filter?.ToRequest() ?? new ImageFilterRequest {})"
                           PagedServiceResult="imagesPagedServiceResult" Context="ImageResult">

                    <ItemTemplate>
                        <SelectImageItem Model="ImageResult"
                                         OnSelected="(selectedImage) => SelectImage(selectedImage)" />
                    </ItemTemplate>
                </PagedList>
            </div>
        </section>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public required EventCallback<ArtistFormModel> OnValidSubmit { get; set; }

    [Parameter, EditorRequired]
    public required ArtistFormModel ArtistFormModel { get; set; }

    [Parameter, EditorRequired]
    public required RenderFragment Buttons { get; set; }

    private EditContext? artistEditContext { get; set; }

    private PagedServiceResult<IList<PersonResult>, PersonFilterResult>? peoplePagedServiceResult { get; set; }
    private EditContext? personFilterContext { get; set; }

    private PagedServiceResult<IList<ImageResult>, ImageFilterResult>? imagesPagedServiceResult { get; set; }

    protected override void OnInitialized()
    {
        artistEditContext = new(ArtistFormModel);

        //what is this for?
        artistEditContext.ShouldUseFieldIdentifiers = true;

        artistEditContext.OnFieldChanged += HandleFieldChanged;

        personFilterContext = new(new PersonFilterFormModel());

        base.OnInitialized();
    }

    private void HandleFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        MemoryService.HasUnsavedData = true;
    }

    private async Task FetchPeople(PaginationRequest paginationRequest, PersonFilterRequest personFilterRequest)
    {
        imagesPagedServiceResult = null;

        peoplePagedServiceResult = await PersonApiService.GetAll(paginationRequest, personFilterRequest);

        personFilterContext = new(peoplePagedServiceResult.Filter.ToFormModel());

    }

    private async Task FetchImages(PaginationRequest paginationRequest, ImageFilterRequest imageFilterRequest)
    {
        peoplePagedServiceResult = null;

        imagesPagedServiceResult = await ImageApiService.GetAll(paginationRequest, imageFilterRequest);
    }

    private void SelectPerson(PersonResult personResult)
    {
        if (artistEditContext is null || artistEditContext.Model is not ArtistFormModel formModel) return;

        formModel.PersonId = personResult.Id;
        formModel.PersonResult = personResult;

        artistEditContext.NotifyFieldChanged(FieldIdentifier.Create(() => formModel.PersonId));

        peoplePagedServiceResult = null;
    }

    private void SelectImage(ImageResult imageResult)
    {
        if (artistEditContext is null || artistEditContext.Model is not ArtistFormModel formModel) return;

        formModel.ImageId = imageResult.Id;
        formModel.ImageResult = imageResult;

        artistEditContext.NotifyFieldChanged(FieldIdentifier.Create(() => formModel.ImageId));

        imagesPagedServiceResult = null;
    }

    public void Dispose()
    {
        if (artistEditContext is not null)
        {
            artistEditContext.OnFieldChanged -= HandleFieldChanged;
        }
    }
}
