@inherits DataResultInfoBase<ArtistResult>

@if (DataResult is { } dataResult)
{
    @if (!string.IsNullOrWhiteSpace(dataResult.Alias))
    {
        @if (!string.IsNullOrWhiteSpace(HeaderClass))
        {
            <h5 class="@HeaderClass.ToLower()">@dataResult.Alias (@dataResult.PersonResult.Firstname @dataResult.PersonResult.Lastname)</h5>

        }
        else
        {
            <h5>@dataResult.Alias (@dataResult.PersonResult.Firstname @dataResult.PersonResult.Lastname)</h5>
        }
    }
    else
    {
        @if (!string.IsNullOrWhiteSpace(HeaderClass))
        {
            <h5 class="@HeaderClass.ToLower()">@dataResult.PersonResult.Firstname @dataResult.PersonResult.Lastname</h5>

        }
        else
        {
            <h5>@dataResult.PersonResult.Firstname @dataResult.PersonResult.Lastname</h5>
        }
    }

    @if (ShowImage)
    {
        <Image ImageResult="dataResult.ImageResult" />
    }
}
