@page "/artist"

@layout ArtistLayout

@implements IDisposable

@inject IArtistService ArtistApiService
@inject NavigationManager NavigationManager
@inject DataController DataControllerService
@inject MemoryService MemoryService

<section class="index-page">
    <h3>Index</h3>

    <NavLink class="button" href="artist/create">Create</NavLink>

    <ArtistFilterForm EditContext="filterContext"
                      OnReset="() => FetchArtists(MemoryService.GetDefaultPaginationRequest(), new ArtistFilterRequest())"
                      OnValidSubmit="() => FetchArtists(MemoryService.GetDefaultPaginationRequest(), ((ArtistFilterFormModel?)filterContext?.Model)?.ToRequest() ?? new ArtistFilterRequest())" />
    @if (ArtistsPagedServiceResult is not null)
    {

        <PagedList OnPageChanged="@(async (request) => { await FetchArtists(request, ArtistsPagedServiceResult.Filter.ToRequest());  })"
                   PagedServiceResult="ArtistsPagedServiceResult" Context="ArtistResult">
            <ItemTemplate>
                <div>
                    @if (ArtistResult.Image is not null)
                    {
                        <img src="@($"https://localhost:7061/image/download/{ArtistResult.Image?.Id}")" />

                    }
                    else
                    {
                        <p>no image</p>
                    }

                    <div>
                        @if (!string.IsNullOrWhiteSpace(ArtistResult.Alias))
                        {
                            <h4>@ArtistResult.Alias</h4>

                            @if (ArtistResult.Person is not null)
                            {
                                <p>(@ArtistResult.Person.Firstname @ArtistResult.Person?.Lastname)</p>
                            }
                        }
                        else if (ArtistResult.Person is not null)
                        {
                            <h4>@ArtistResult.Person.Firstname @ArtistResult.Person.Lastname</h4>
                        }

                        <NavLink href="@($"artist/edit/{ArtistResult.Id}")" class="button">Edit</NavLink>
                    </div>
                </div>
            </ItemTemplate>
        </PagedList>
    }
</section>

@code {
    private PagedServiceResult<IList<ArtistResult>, ArtistFilterResult>? ArtistsPagedServiceResult;

    private EditContext? filterContext { get; set; }

    protected override void OnInitialized()
    {
        ArtistsPagedServiceResult = (PagedServiceResult<IList<ArtistResult>, ArtistFilterResult>?)DataControllerService.Data;

        if (ArtistsPagedServiceResult is null) return;

        filterContext = new(ArtistsPagedServiceResult.Filter.ToFormModel());

        base.OnInitialized();
    }

    private async Task FetchArtists(PaginationRequest paginationRequest, ArtistFilterRequest artistFilterRequest)
    {
        ArtistsPagedServiceResult = await DataControllerService.Fetch<PagedServiceResult<IList<ArtistResult>, ArtistFilterResult>>(async () => await ArtistApiService.GetAll(paginationRequest, artistFilterRequest));

        MemoryService.ArtistFilter = ArtistsPagedServiceResult.Filter;
        MemoryService.ArtistPagination = ArtistsPagedServiceResult.Pagination;

        filterContext = new(ArtistsPagedServiceResult.Filter.ToFormModel());
    }

    public void Dispose()
    {
        DataControllerService.Data = null;
    }
}
