@page "/lineup/delete/{id:int}"
@using MusicClub.Cms.Blazor.Helpers

@layout LineupCrudLayout

<DeleteRequest TDataRequest="LineupRequest"
               TDataResult="LineupResult"
               TFilterRequest="LineupFilterRequest"
               TFilterResult="LineupFilterResult"
               TApiService="ILineupService"
               TDataResultHelpers="IDataResultHelpers<LineupResult>"
               Id="Id"
               Model="Lineup"
               Context="Context">
    <Info>
        <ul>
            <li>
                <p class="label">Id</p>
                <p class="input">@Context.Id</p>
            </li>

            <li>
                <p class="label">Title</p>
                <p class="input">@Context.Title</p>
            </li>

            <li>
                <p class="label">Doors</p>
                <p class="input">@Context.Doors.ToShortTimeString()</p>
            </li>

            <li>
                <p class="label">Created</p>
                <p class="input">@Context.Created.ToLongTimeString()</p>
            </li>

            <li>
                <p class="label">Updated</p>
                <p class="input">@Context.Updated.ToLongTimeString()</p>
            </li>

            <li class="@(showImageImg ? "show-img" : "hide-img")">
                <p class="label">Image</p>
                <p class="input">@(Context.ImageResult?.Alt ?? "/")</p>

                @if (Context.ImageResult is not null)
                {
                    @if (showImageImg)
                    {
                        <button @onclick="() => showImageImg = false">Hide image</button>
                    }
                    else
                    {
                        <button @onclick="() => showImageImg = true">Show image</button>
                    }

                    <img src="@($"https://localhost:7061/image/download/{Context.ImageResult.Id}?updated={Context.ImageResult.Updated}")" />
                }
            </li>

            <li>
                <p class="label">Dependencies</p>
                        
                <ul>
                    <li>Acts: @Context.ActsCount</li>
                    <li>Services: @Context.ServicesCount</li>
                </ul>
            </li>
        </ul>
    </Info>
</DeleteRequest>

@code {
    [Parameter]
    public int Id { get; set; }

    private bool showImageImg;
}