@page "/lineup/delete/{id:int}"
@using MusicClub.Cms.Blazor.Helpers

@layout LineupCrudLayout

<DeleteRequest TDataRequest="LineupRequest"
               TDataResult="LineupResult"
               TFilterRequest="LineupFilterRequest"
               TFilterResult="LineupFilterResult"
               TApiService="ILineupService"
               TDataResultHelpers="IDataResultHelpers<LineupResult>"
               Id="Id"
               Model="Lineup"
               Context="Context">
    <Info>
        <li>
            <p class="label">Id</p>
            <p class="input">@Context.DataResult.Id</p>
        </li>

        <li>
            <p class="label">Title</p>
            <p class="input">@Context.DataResult.Title</p>
        </li>

        <li>
            <p class="label">Doors</p>
            <p class="input">@Context.DataResult.Doors.ToShortTimeString()</p>
        </li>

        <li>
            <p class="label">Created</p>
            <p class="input">@Context.DataResult.Created.ToLongTimeString()</p>
        </li>

        <li>
            <p class="label">Updated</p>
            <p class="input">@Context.DataResult.Updated.ToLongTimeString()</p>
        </li>

        <li>
            <p class="label">Image</p>

            <ImageDataResultInfo DataResult="Context.DataResult.ImageResult" HeaderClass="paragraph" ShowImage="Context.ShowImages" />
        </li>

        <li>
            <p class="label">Dependencies</p>

            <ul>
                <li>Acts: @Context.DataResult.ActsCount</li>
                <li>Services: @Context.DataResult.ServicesCount</li>
            </ul>
        </li>
    </Info>
</DeleteRequest>

@code {
    [Parameter]
    public int Id { get; set; }
}