@page "/person/delete/{id:int}"
@using MusicClub.Cms.Blazor.Helpers

@layout PersonCrudLayout

<DeleteRequest TDataRequest="PersonRequest"
               TDataResult="PersonResult"
               TFilterRequest="PersonFilterRequest"
               TFilterResult="PersonFilterResult"
               TApiService="IPersonService"
               TDataResultHelpers="IDataResultHelpers<PersonResult>"
               Id="Id"
               Model="Person"
               Context="Context">
    <Info>
        <li>
            <p class="label">Id</p>
            <p class="input">@Context.DataResult.Id</p>
        </li>

        <li>
            <p class="label">Firstname</p>
            <p class="input">@Context.DataResult.Firstname</p>
        </li>

        <li>
            <p class="label">Lastname</p>
            <p class="input">@Context.DataResult.Lastname</p>
        </li>

        <li>
            <p class="label">Created</p>
            <p class="input">@Context.DataResult.Created.ToLongTimeString()</p>
        </li>

        <li>
            <p class="label">Updated</p>
            <p class="input">@Context.DataResult.Updated.ToLongTimeString()</p>
        </li>

        <li>
            <p class="label">Image</p>

            <ImageDataResultInfo DataResult="Context.DataResult.ImageResult" HeaderClass="paragraph" ShowImage="Context.ShowImages"/>
        </li>

        <li>
            <p class="label">Dependencies</p>

            <ul>
                <li>Artists: @Context.DataResult.ArtistsCount</li>
                <li>Workers: @Context.DataResult.WorkersCount</li>
                @*    <li>ApplicationUsers: @Context.ApplicationUsersCount</li> *@
            </ul>
        </li>
    </Info>
</DeleteRequest>

@code {
    [Parameter]
    public int Id { get; set; }
}