@page "/image/delete/{id:int}"
@using MusicClub.Cms.Blazor.Helpers

@layout ArtistCrudLayout

<DeleteRequest TDataRequest="ImageApiRequest"
               TDataResult="ImageResult"
               TFilterRequest="ImageFilterRequest"
               TFilterResult="ImageFilterResult"
               TApiService="IImageApiService"
               TDataResultHelpers="IDataResultHelpers<ImageResult>"
               Id="Id"
               Model="Image"
               Context="Context">
    <Info>
        <ul>
            <li>
                <p class="label">Id</p>
                <p class="input">@Context.Id</p>
            </li>

            <li>
                <p class="label">Alt</p>
                <p class="input">@Context.Alt</p>
            </li>

            <li>
                <p class="label">Created</p>
                <p class="input">@Context.Created.ToLongTimeString()</p>
            </li>

            <li>
                <p class="label">Updated</p>
                <p class="input">@Context.Updated.ToLongTimeString()</p>
            </li>

            <li>
                <p class="label">Image</p>

                <img src="@($"https://localhost:7061/image/download/{Context.Id}?updated={Context.Updated}")" />
            </li>   
        </ul>
    </Info>
</DeleteRequest>


@code {
    [Parameter]
    public int Id { get; set; }

}