@inherits DataResultInfoBase<LineupResult>

@if(DataResult is { } dataResult)
{
    @if (!string.IsNullOrWhiteSpace(HeaderClass))
    {
        <h5 class="@HeaderClass.ToLower()">@dataResult.Doors.ToShortDateString() @dataResult.Title</h5>
    }
    else
    {
        <h5>@dataResult.Doors.ToShortDateString() @dataResult.Title</h5>
    }

    @if (ShowImage)
    {
        <Image ImageResult="dataResult.ImageResult" />
    }
}

