@inherits DataResultInfoBase<PerformanceResult>

@if (DataResult is { } dataResult)
{
    var fullname = dataResult.ArtistResult.PersonResult.Firstname + " " + dataResult.ArtistResult.PersonResult.Lastname;

    @if (dataResult.ArtistResult.Alias is { Length: > 0 } alias)
    {
        <h5>@dataResult.Instrument : @alias (@fullname)</h5>
    } else
    {
        <h5>@dataResult.Instrument : @fullname</h5>
    }     

    <Image ImageResult="dataResult.ImageResult" />

    <ul class="info-list">
        @if (dataResult.BandnameResult?.Name is { Length: > 0 } bandname)
        {
            <li>Band: @bandname</li>
        }
        <li>Act: <b>@dataResult.ActResult.Name</b></li>
        <li>Lineup: <b>@dataResult.ActResult.LineupResult.Doors.ToShortDateString() @dataResult.ActResult.LineupResult.Title</b></li>
    </ul>
}