@inherits DataResultInfoBase<PerformanceResult>

@if (DataResult is { } dataResult)
{
    var fullname = dataResult.ArtistResult.PersonResult.Firstname + " " + dataResult.ArtistResult.PersonResult.Lastname;

    @if (!string.IsNullOrWhiteSpace(dataResult.ArtistResult.Alias))
    {
        var text = dataResult.Instrument + " : " + dataResult.ArtistResult.Alias + '(' + fullname + ')';

        @if (!string.IsNullOrWhiteSpace(HeaderClass))
        {
            <h5 class="@HeaderClass.ToLower()">@text</h5>
        }
        else
        {
            <h5>@text</h5>
        }
    }
    else
    {
        var text = @dataResult.Instrument + " : " + fullname;

        @if (!string.IsNullOrWhiteSpace(HeaderClass))
        {
            <h5 class="@HeaderClass.ToLower()">@text</h5>
        }
        else
        {
            <h5>@text</h5>
        }
    }

    @if (ShowImage)
    {
        <Image ImageResult="dataResult.ImageResult" />
    }

    <ul class="info-list">
        @if (string.IsNullOrWhiteSpace(dataResult.BandnameResult?.Name))
        {
            <li>Band: @dataResult.BandnameResult?.Name</li>
        }
        <li>Act: <b>@dataResult.ActResult.Name</b></li>
        <li>Lineup: <b>@dataResult.ActResult.LineupResult.Doors.ToShortDateString() @dataResult.ActResult.LineupResult.Title</b></li>
    </ul>
}