@typeparam TDataResult
@typeparam TFilterRequest

<div>
    <label for="@($"{Model}Id")">@Model</label>

   <div>
        @if (DataResult is { } result)
        {
            @Info(result)
        }
        else
        {
            if(Model == "Image")
            {
                <p class="image">no Image</p>
            } else
            {
                <p>no @Model</p>
            }
        }

        @if (DataResult is not null)
        {
            <button type="button" @onclick="() => OnDataRequest.InvokeAsync()">Change</button>

            <button type="button" @onclick="() => OnRemoveRequest.InvokeAsync()" class="warning">Remove</button>
        }
        else
        {
            <button type="button" @onclick="() => OnDataRequest.InvokeAsync()">Add</button>
        }
      
        <InputNumber @bind-Value="CurrentValue" id="@($"{Model}Id")" hidden />    
    </div>
</div>
