@page "/act/delete/{id:int}"
@using MusicClub.Cms.Blazor.Helpers

@layout ActCrudLayout

<DeleteRequest TDataRequest="ActRequest"
               TDataResult="ActResult"
               TFilterRequest="ActFilterRequest"
               TFilterResult="ActFilterResult"
               TApiService="IActService"
               TDataResultHelpers="IDataResultHelpers<ActResult>"
               Id="Id"
               Model="Act"
               Context="Context">
    <Info>
        <li>
            <p class="label">Id</p>
            <p class="input">
                @Context.DataResult.Id
            </p>
        </li>

        <li>
            <p class="label">Name</p>
            <p class="input">@Context.DataResult.Name</p>
        </li>

        <li>
            <p class="label">Title</p>
            <p class="input">@(Context.DataResult.Title ?? "/")</p>
        </li>

        <li>
            <p class="label">Doors</p>
            <p class="input">@(Context.DataResult.Start?.ToShortDateString() ?? "/")</p>
        </li>

        <li>
            <p class="label">Duration</p>
            <p class="input">@(Context.DataResult.Duration.ToString() ?? "/") minutes</p>
        </li>

        <li>
            <p class="label">Created</p>
            <p class="input">@Context.DataResult.Created.ToLongTimeString()</p>
        </li>

        <li>
            <p class="label">Updated</p>
            <p class="input">@Context.DataResult.Updated.ToLongTimeString()</p>
        </li>

        <li>
            <p class="label">Lineup</p>

            <LineupDataResultInfo DataResult="Context.DataResult.LineupResult" HeaderClass="paragraph" ShowImage="Context.ShowImages"/>
        </li>

        <li>
            <p class="label">Image</p>

            <ImageDataResultInfo DataResult="Context.DataResult.ImageResult" HeaderClass="paragraph" ShowImage="Context.ShowImages" />
        </li>

        <li>
            <p class="label">Dependencies</p>
            @*                 @if(Context.HasCriticalDependencies()) *@
            <ul>
                <li>Performances: @Context.DataResult.PerformancesCount</li>
                <li>Jobs: @Context.DataResult.JobsCount</li>
            </ul>
        </li>
    </Info>
</DeleteRequest>

@code {
    [Parameter]
    public int Id { get; set; }
}