@inherits DataResultInfoBase<ActResult>

@if (DataResult is { } dataResult)
{
    @if (!string.IsNullOrWhiteSpace(HeaderClass))
    {
        <h5 class="@HeaderClass.ToLower()">@dataResult.Start?.ToLongDateString() @DataResult.Name</h5>
    } else
    {
        <h5>@dataResult.Start?.ToLongDateString() @DataResult.Name</h5>
    }

    @if (!string.IsNullOrWhiteSpace(dataResult.Title))
    {
        <p>@dataResult.Title</p>
    }

    @if (ShowImage)
    {
        <Image ImageResult="dataResult.ImageResult" />
    }
}