@model PagedServiceResult<IList<LineupUiModel>, LineupFilterResult>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Next up</h2>

@if (Model.Data is { Count: > 0 } data)
{
    <ul class="data-list">
        @foreach (var lineupUiModel in Model.Data)
        {
            <li>
                <a asp-controller="agenda" asp-action="detail" asp-route-id="@lineupUiModel.Id">
                    @if (lineupUiModel.ImageResult is { } imageResult)
                    {
                        <img src="@($"https://localhost:7061/image/download/{imageResult.Id}")" alt="@imageResult.Alt" />
                    }

                    <h3>@lineupUiModel.Doors.ToLongDateString()</h3>

                    @if (!string.IsNullOrWhiteSpace(lineupUiModel.Title))
                    {
                        <p>@lineupUiModel.Title</p>
                    }

                    @if (lineupUiModel.ActResults is { Count: > 0 } actResults)
                    {
                        <ul>
                            @foreach (var actResult in actResults)
                            {
                                <li>@actResult.Name</li>
                            }
                        </ul>

                        @if (lineupUiModel.ActResultsTotalCount > actResults.Count)
                        {
                            <p>+ @(lineupUiModel.ActResultsTotalCount - actResults.Count) more</p>
                        }
                    }
                    else
                    {
                        <p>shows tba</p>
                    }
                </a>
            </li>
        }
    </ul>
}
else
{
    <p>Kapot</p>
}
